/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/
// Center social icons made with FontAwesome or AcademicIcons
.social-media-list{
  .fab.svg-icon {
    text-align: center;
  }
  .ai.svg-icon {
    text-align: center;
  }
}

// Profile picture
.profile-pic {
  margin: 8%;
  width: calc(100% - 16%);
  border-radius: 5px;
  border: 1px solid black;
  @media screen and (min-width: $on-medium) {    
    margin: 5px;
    float: right;
    width: 30%;
  }
}

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 
